:root {
  --board-gap: 0.2rem;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
}

h1 {
  color: rgb(1, 217, 255);
  text-shadow: 0px 0px 20px rgb(1, 217, 255);
}

.words {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: fit-content;
  gap: var(--board-gap);
}

.words__word {
  display: flex;
  height: fit-content;
  list-style: none;
  padding: 0;
  width: fit-content;
  gap: var(--board-gap);
}

.letter-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 10px;
  color: white;
  box-shadow: 0px 0px 1px 1px rgb(1, 217, 255) inset;
}

.letter-container--active {
  box-shadow: 0px 0px 5px 1px rgb(1, 255, 65);
}

.letter-container--not-present {
  box-shadow: -0px -5px 10px 1px rgba(1, 217, 255, 0.2) inset;
}

.letter-container--correct {
  box-shadow: -0px -5px 10px 1px rgba(1, 255, 14, 0.4) inset;
}

.letter-container--out-of-order {
  box-shadow: -0px -5px 10px 1px rgba(255, 124, 1, 0.4) inset;
}

.letter {
  text-align: center;
  text-transform: uppercase;
}

.notifications {
  position: absolute;
  top: 0;
  right: 1rem;
  display: flex;
  flex-direction: column;
  min-width: 10rem;
  align-items: center;
}

.notification {
  margin-top: 2rem;
  background-color: rgb(53, 52, 52);
  padding: 1rem;
  width: fit-content;
  border-radius: 10px;
}

.keyboard {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
}

.keyboard__row {
  display: flex;
  flex-direction: row;
}

#keyboard__third-row {
  width: 100%;
}

.keyboard__key {
  min-width: clamp(10px, 2.5%, 15px);
  padding: 0.5rem;
  text-align: center;
  border: 1px solid rgb(1, 217, 255);
  background-color: rgba(1, 217, 255, 0.2);
  color: white;
}

.keyboard__key + .keyboard__key {
  border-left: none;
}

.keyboard__key:hover {
  cursor: pointer;
  opacity: 0.7;
}

#enter {
  order: 1;
  width: 100%;
}

#backspace {
  order: -1;
  border-left: 1px solid rgb(1, 217, 255);
  border-right: none;
  padding-left: 0;
  width: 100%;
}
