:root {
  --board-gap: 0.2rem;
}

body {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: rgb(1, 217, 255);
  text-shadow: 0px 0px 20px rgb(1, 217, 255);
}

.words {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: var(--board-gap);
}

.words__word {
  display: flex;
  height: fit-content;
  list-style: none;
  padding: 0;
  width: fit-content;
  gap: var(--board-gap);
}

.letter-container {
  height: 50px;
  width: 50px;
  border-radius: 10px;
  color: white;
  box-shadow: 0px 0px 1px 1px rgb(1, 217, 255) inset;
}

.letter-container--active {
  box-shadow: 0px 0px 5px 1px rgb(1, 255, 65);
}

.letter-container--not-present {
  box-shadow: -0px -5px 10px 1px rgba(1, 217, 255, 0.2) inset;
}

.letter-container--correct {
  box-shadow: -0px -5px 10px 1px rgba(1, 255, 14, 0.4) inset;
}

.letter-container--out-of-order {
  box-shadow: -0px -5px 10px 1px rgba(255, 124, 1, 0.4) inset;
}

.letter {
  text-align: center;
  text-transform: uppercase;
}

.notifications {
  position: absolute;
  top: 0;
  right: 1rem;
  display: flex;
  flex-direction: column;
  min-width: 10rem;
  align-items: center;
}

.notification {
  margin-top: 2rem;
  background-color: rgba(128, 128, 128, 0.205);
  padding: 1rem;
  width: fit-content;
  border-radius: 10px;
}
