:root {
  --board-gap: 0.3rem;
}

body {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: rgb(1, 217, 255);
  text-shadow: 0px 0px 20px rgb(1, 217, 255);
}

.words {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;

  gap: var(--board-gap);
}

.words__word {
  display: flex;
  height: fit-content;
  list-style: none;
  padding: 0;
  width: fit-content;
  gap: var(--board-gap);
}

.words__word--active .words__letter-container {
  box-shadow: 0px 0px 15px 1px rgb(1, 217, 255) inset;
}

.words__letter-container {
  height: 50px;
  width: 50px;
  border-radius: 10px;
  color: white;
  box-shadow: 0px 0px 1px 1px rgb(1, 217, 255) inset;
}

.words__letter {
  text-align: center;
  text-transform: uppercase;
}

.notification {
  margin-top: 2rem;
  background-color: rgba(128, 128, 128, 0.205);
  padding: 1rem;
  border-radius: 10px;
}
